
.vs/

*.pdb

*.exe

*.obj
MyEngine/MyEngine/obj/Debug/CkfEngine.pdb
*.pdb
MyEngine/MyEngine/bin/Debug/CkfEngine.pdb
MyDirectx12/MyDirectx12/x64/Debug/vc143.pdb
*.obj
*.obj
MyDirectx12/MyDirectx12/x64/Debug/Common.obj
MyDirectx12/MyDirectx12/x64/Debug/D3DAnimation.obj
